html, body{
   height: 100%;
}
body {
   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   font-size: 20px;
   line-height: 1.5;
   background-color: rgb(9, 9, 9);
   margin: 0;
   padding: 0;
    
  
}
 .wrapper {
   max-width: 800px;
   
   margin: 0 auto;
   background-color: darkgrey;
   cursor: pointer;     
 }
 .wrapper h1 {
   font-size: 30px;
   font-weight: bold;
   margin: 0;
   padding-left: 20px;   
 }
 .mem {
   text-align: center;
  }
 .mem img {
   height: 0px;
   margin: 10px auto;  
   transition: 0.5s;
 } 
 .head {
   display: flex;
   justify-content: space-between;
  }
  .head img {
   transform: rotate(45deg);
   transition: 0.4s;
  }
 .question{
   display: block;
   text-align: justify;
   font-style: italic;
   color: rgb(80, 30, 195);
   padding-left: 20px;
   cursor: pointer;
   
 }
  .answer {
   display:none;
   appearance: none;
 }
 .bayan {
   border-bottom: 2px solid gray ;
   border-top: 2px solid gray;  
  
   
 }
 .wrapper:hover .question {
   color: black;
 } 
 
 .bayan:hover .question {
   transition: 1s;
}

.bayan:hover .question .mem img {
   height: 300px;
   transition: 2s;
}
.bayan:hover .head img {
   transform: rotate(0deg);
   transition: 0.4s;
  }
.answer:checked ~ .question .icon img {
   transform: rotate(0deg);
   transition: 0.4s;
}
.answer:checked ~ .question .mem img{
   height: 300px;
 }
 
 .answer:checked ~ .question .head {
   color: black;
 }

@media screen and (max-width: 750px) {
   body {
     font-size: 16px;
   }
 }
 
 @media screen and (max-width: 480px) {
   body {
     font-size: 12px;
   }
 }